# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Cliente\Desktop\lfo\Grado superior\Segundo\Quantika\DG\DG-images-monitor\Djangodetectormemes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
